@* @page "/weather"
@using Microsoft.Data.SqlClient
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@inject SqlConnection connection
@rendermode RenderMode.InteractiveServer

<PageTitle>Weather</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="CreateData">Create Data</button>
<button @onclick="GetData">Get Data</button>

@foreach(var row in rows)
{
    <p>@row</p>
}

@code {
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();

    }

    private List<string> rows = new();

    private void CreateData()
    {
        connection.Open();

        var command = new SqlCommand(
        "INSERT INTO Persons (firstName, lastName) VALUES (@firstName, @lastName)",
        connection);

        command.Parameters.Clear();
        command.Parameters.AddWithValue("@firstName", "bob");
        command.Parameters.AddWithValue("@lastName", "Joe");

        using SqlDataReader reader = command.ExecuteReader();
        connection.Close();
    }

    private void GetData()
    {
        connection.Open();

        var command = new SqlCommand("SELECT * FROM Persons", connection);
        using SqlDataReader reader = command.ExecuteReader();

        if (reader.HasRows)
        {
            while (reader.Read())
            {
                rows.Add($"{reader.GetInt32(0)}, {reader.GetString(1)}, {reader.GetString(2)}");
            }
        }
        connection.Close();
    }
} *@