@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <form>
        <div class="form-group row">
            <label for="text" class="col-2 col-form-label">Username</label>
            <div class="col-10">
                <div class="input-group">
                    <input id="text" name="text" type="text" class="form-control" required="required">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="textarea" class="col-2 col-form-label">Message</label>
            <div class="col-10">
                <textarea id="textarea" name="textarea" cols="40" rows="3" class="form-control" required="required"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-2 col-10">
                <button name="submit" type="submit" class="btn btn-primary">Send Message</button>
            </div>
        </div>
    </form>
</div>
