<div class="pb-lg-4 chat-list">
    <transition-group name="list" tag="ul" class="chat-messages">
        @foreach (var (username, message) in UserMessages)
        {
            <li class="border border-secondary user-select-none">
                <div class="gutter pr-lg-2 text-muted">
                    <span>@($"@{username}")</span>
                </div>
                <div class="arrow-container">
                    <span class="arrow arrow2"></span>
                    <span class="arrow arrow1"></span>
                </div>
                <div class="message pl-lg-2">
                    @{
                        MarkupString messageMarkup = new(message);
                        <span>
                            @messageMarkup
                        </span>
                    }
                </div>
            </li>
        }
    </transition-group>
</div>

@code {
    [Parameter, EditorRequired]
    public required HashSet<UserMessage> UserMessages { get; set; }
}
