@page "/weather"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject ProgrammingLanguagesApiClient Client

<PageTitle>Programming Languages</PageTitle>

<h1>Programming Languages</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

@if (_languages is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Initial Release</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var language in _languages)
            {
                <tr>
                    <td>@language.Name</td>
                    <td>@language.InitialReleaseDate.ToShortDateString()</td>
                    <td>@language.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ProgrammingLanguage[]? _languages;

    protected override async Task OnInitializedAsync()
    {
        _languages = await Client.GetProgrammingLanguagesAsync();
    }
}
