name: OPS status checker

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  status_checker_job:
    name: Look for build warnings
    runs-on: ubuntu-latest
    permissions:
      statuses: write
      issues: write
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
        with:
          egress-policy: audit

      - uses: dotnet/docs-tools/actions/status-checker@cf581edfb9f8bbccc3f0476ce1b8369689fb0290 # main
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          docs_path: "docs"
          url_base_path: "dotnet/aspire"
