# This is a basic workflow to help you get started with Actions
name: Snippets 5000

# Controls when the action will run. Triggers the workflow on push or pull request
# events on the main branch only.
on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
  workflow_dispatch:
    inputs:
      reason:
        description: "The reason for running the workflow"
        required: true
        default: "Manual run"

env:
  DOTNET_VERSION: '9.0.x' # set this to the dot net version to use
  EnableNuGetPackageRestore: "True"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
permissions:
  contents: read

jobs:
  # This workflow contains a single job called "snippets-build"
  snippets-build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      statuses: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # Get the latest preview SDK (or sdk not installed by the runner)
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # main
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      # Print dotnet info
      - name: Display .NET info
        run: |
          dotnet --info

      # Clone docs tools repo
      - name: Clone docs-tools repository
        run: |
          git clone https://github.com/dotnet/docs-tools

      # Run snippets 5000
      - name: Run snippets 5000 for PR
        env:
          GitHubKey: ${{ secrets.GITHUB_TOKEN }}
        run: |
          dotnet run --project docs-tools/snippets5000/Snippets5000/Snippets5000.csproj -- --sourcepath "${{ github.workspace }}" --pullrequest ${{ github.event.number }} --owner ${{ github.repository_owner }} --repo ${{ github.event.repository.name }}

      # Update build output json file
      - name: Upload build results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #@v6.0.0
        with:
          name: build
          path: ./output.json
